.App {
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.leftSide {
  background-color: black;
  width: 55vw;
  /* height: 116.9vh */
}

.leftSide img {
  height: 100%;
  width: 100%;
  
}
.rightSide {
  background-color: black;
  color: whitesmoke;
  width: 45vw;
  height:max-content;
}
.logo {
  font-family:fantasy; 
  font-weight:bold;
}
.signUpForm {
  width: 70%;
  margin-left: 2%;
}
.join {
  text-align: left;
}
.features{
  display: flex;
  justify-content: space-around;
}
.discover {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.favorites {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mealPlan {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signInButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2%;
}
.join {
  margin-left: 2%;
}
.member {
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}
.signInBackground {
  background-color: rgb(38, 45, 51);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signIn {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.modal {
  background-color: rgb(1, 0, 0);
  border-radius: 5%;
  width: 40vw;
  box-shadow:  4px 10px 30px white;
}

@media screen and (max-device-width: 820px) and (orientation: portrait){
  .leftSide {
    height:100vh;
  }
  .rightSide {
    height: auto;
  }
}
@media screen and (max-device-width: 1180px) and (orientation: landscape){
  .leftSide {
    height:106vh;
  }
  .rightSide {
    height:fit-content;
  }
}
@media screen and (max-device-width: 906px) and (orientation: landscape){
  .leftSide {
    height: 117vh;
  }
} 
@media screen and (max-device-width: 390px) and (orientation: portrait){
  .leftSide {
    display: none;
  }
  .rightSide {
    width: auto;
    height:max-content;
  }
}